<header>
  <nav>
    <section>
    <a [routerLink]="['/']"> <h1>Univerzitet</h1></a> 
      <a [routerLink]="['/']"><img src="harvard.png" alt="slika-univerziteta" /></a>
    </section>
    <ul>
      <li appOnHoverDisplay>
        O Univerzitetu
        <div class="padajuce-opcije">
          <p>Bulevar Mihajla Pupina 4a, Orlovat</p>
          <p>O rektoru što manje to bolje</p>
          <p>Krajnje žalosno ali guramo jbg</p>
        </div>
      </li>
      <li appOnHoverDisplay>
        Fakulteti
        <div class="padajuce-opcije">
          <p *ngFor="let f of fakulteti">
            <a [routerLink]="['/fakultet', f.id]">{{ f.naziv }}</a>
          </p>
        </div>
      </li>
      <li appOnHoverDisplay>
        Studijski Programi
        <div class="padajuce-opcije">
          <p *ngFor="let p of studijskiProgrami">
            <a [routerLink]="['/studijski-program', p.id]">{{ p.naziv }}</a>
          </p>
        </div>
      </li>
      <li appOnHoverDisplay>
        Studije
        <div class="padajuce-opcije">
          <a routerLink="/login">estudent</a>
          <p>Kalendar</p>
          <p>Biblioteka</p>
        </div>
      </li>
      <li appOnHoverDisplay>
        Kontakt
        <div class="padajuce-opcije">
          <p>Telefon: 021/111111, 021/222222</p>
          <p>Email: tim3faks&#64;gmail.com</p>
        </div>
      </li>
    </ul>
  </nav>
</header>
