@if (univerzitet){
<header>
  <nav>
    <section>
    <a [routerLink]="['/']"> <h1>{{univerzitet.naziv}}</h1></a> 
      <a [routerLink]="['/']"><img src="harvard.png" alt="slika-univerziteta" /></a>
    </section>
    <ul>
      <li appOnHoverDisplay>
        O Univerzitetu
        <div class="padajuce-opcije">
        <p>Adresa: {{univerzitet.adresa?.ulica}} {{univerzitet.adresa?.broj}}, {{univerzitet.adresa?.grad?.naziv}}, {{univerzitet.adresa?.grad?.drzava?.naziv}}</p>
        <p>Datum osnivanja: {{ univerzitet.datumOsnivanja | date: 'dd.MM.yyyy.' }}</p>
        </div>
      </li>
      <li appOnHoverDisplay>
        Fakulteti
        <div class="padajuce-opcije">
          <p *ngFor="let f of fakulteti">
            <a [routerLink]="['/fakultet', f.id]">{{ f.naziv }}</a>
          </p>
        </div>
      </li>
      <li appOnHoverDisplay>
        Studijski Programi
        <div class="padajuce-opcije">
          <p *ngFor="let p of studijskiProgrami">
            <a [routerLink]="['/studijskiProgram', p.id]">{{ p.naziv }}</a>
          </p>
        </div>
      </li>
      <li appOnHoverDisplay>
        Studije
        <div class="padajuce-opcije">
          <a routerLink="/login">estudent</a>
        </div>
      </li>
      <li appOnHoverDisplay>
        Kontakt
        <div class="padajuce-opcije">
        <p>Telefon: {{univerzitet.kontakt}}</p>
        <p>Email: {{univerzitet.email}}</p>
        </div>
      </li>
    </ul>
  </nav>
</header>
}