<header>
    <section>
        <img src="harvard.png" alt="slika-univerziteta">
        <div>
            <h1>Pocetna strana univerziteta</h1>
            <h2>Tim 3</h2>
        </div>
    </section>
    <hr>
    <nav>
        <ul>
            <li appOnHoverDisplay>O Univerzitetu
                <div class="padajuce-opcije">
                    <p>Bulevar Mihajla Pupina 4a, Orlovat</p>
                    <p>O rektoru sto manje to bolje</p>
                    <p>Krajnje zalostan fakultet al guramo jbg</p>
                </div>
            </li> <!-- Ispod idu lokacija, o rektoru i opis -->
            <li appOnHoverDisplay>Fakulteti
                <div class="padajuce-opcije">
                    <p>Fakultet u Beogradu</p>
                    <p>Fakultet u Novom Sadu</p>
                    <p>Fakultet u Orlovatu</p>
                </div>
            </li> <!-- Ispod idu lokacija, o dekanu i opis -->
            <li appOnHoverDisplay>Studijski Programi <!-- Ispod idu spisak programa, svaki ima predmete, opis smera i rukovodioca, silabusi, nastavni materijal?? -->
                <div class="padajuce-opcije">
                    <p>Softverski i informacioni inzenjering</p>
                    <p>Informacione tehnologije</p>
                    <p>Ekonomija</p>
                </div>
            </li>                            
            <li appOnHoverDisplay>Studije
                <div class="padajuce-opcije">
                    <a routerLink="/login">estudent</a>
                    <p>Kalendar</p>
                    <p>Biblioteka</p>
                </div>
            </li> <!-- Ispod idu estudent, studentska sluzba, biblioteka??, kalendar??, osnovne mr dr?? -->
            <li appOnHoverDisplay>Kontakt
                <div class="padajuce-opcije">
                    <p>Telefon: 021/111111, 021/222222</p>
                    <p>Email: tim3faks&#64;gmail.com</p>
                </div>
            </li>
        </ul>
    </nav>
</header>