<div *ngIf="realizacijaPredmeta">
<h2>Detalji o realizaciji predmeta</h2>

<p *ngIf="realizacijaPredmeta">
    Nastavnik: <span>{{ realizacijaPredmeta.nastavnik.ime }} {{ realizacijaPredmeta.nastavnik.prezime }}</span> <br>
    Tip nastave: {{ realizacijaPredmeta.tipNastave.naziv }} <br>
    Vidljiv: {{ realizacijaPredmeta.vidljiv }} <br>
</p>
Predmeti:
<ul *ngIf="realizacijaPredmeta?.predmeti?.length">
    <ng-container *ngFor="let predmet of realizacijaPredmeta?.predmeti">
        <li>{{ predmet.predmet.naziv }}</li>
    </ng-container>
</ul>

Termin nastave:
<ul *ngIf="realizacijaPredmeta?.terminiNastave?.length">
    <ng-container *ngFor="let terminNastave of realizacijaPredmeta?.terminiNastave">
        <li>{{ terminNastave.vremePocetka }} <br> {{ terminNastave.vremeKraja }}</li>
    </ng-container>
</ul>
</div>
<a routerLink="/realizacije-predmeta">← Nazad na listu realizacija predmeta</a>