@if (godineStudija.length > 0) {
  <div>
    <app-univerzitet-header></app-univerzitet-header>

    <div class="godine-section">
        
      <h2>{{studijskiProgram?.naziv}}</h2>

      @for (g of godineStudija; track g.id) {
        <div class="godina-kartica">
          <h3>{{ g.godina }} godina</h3>

          <div *ngIf="predmetiPoGodini[g.id]?.length">
            <h4>Predmeti:</h4>

            @for (p of predmetiPoGodini[g.id]; track p.id) {
              <div class="predmet-kartica">
                <p><strong>Naziv:</strong> {{ p.naziv ?? 'N/A' }}</p>
                <p><strong>Opis:</strong> {{ p.opis }}</p>
              </div>
            }
          </div>

          <div *ngIf="!predmetiPoGodini[g.id]?.length">
            <p>Nema predmeta za ovu godinu.</p>
          </div>
        </div>
      }
    </div>

    <app-univerzitet-footer></app-univerzitet-footer>
  </div>
}
