@if (godineStudija.length > 0) {
  <div class="sve">


    <div class="godine-section">
      <h2 class="naslov-programa">{{ studijskiProgram?.naziv }}</h2>
<hr>
      @for (g of godineStudija; track g.id) {
        <div class="godina-kartica">
          <h3>{{ g.godina }} godina</h3>
          <hr>

          <div *ngIf="predmetiPoGodini[g.id]?.length">
            <h4 class="podnaslov">Predmeti:</h4>

            @for (p of predmetiPoGodini[g.id]; track p.id) {
              <a class="predmet-kartica-link" [routerLink]="['/predmet', p.id]">
                <div class="predmet-kartica">
                  <strong>{{ p.naziv }}</strong>
                  <p><strong>Opis:</strong> {{ p.opis }}</p>
                </div>
              </a>
            }
          </div>

          <div *ngIf="!predmetiPoGodini[g.id]?.length" class="bez-predmeta">
            <p>Nema predmeta za ovu godinu.</p>
          </div>
        </div>
      }
    </div>


  </div>
}
