<nav class="sidebar">
  <ul>
    <li><a [routerLink]="['/studentNaGodini', studentNaGodini.id, 'estudent', 'objave']">Objave</a></li>
    <li><a [routerLink]="['/studentNaGodini', studentNaGodini.id, 'estudent', 'prijava-ispita']">Prijava ispita</a></li>
    <li><a [routerLink]="['/studentNaGodini', studentNaGodini.id, 'estudent', 'ispiti']">Ispiti</a></li>
    <li><a [routerLink]="['/studentNaGodini', studentNaGodini.id, 'estudent', 'aktivnosti']">Aktivnosti</a></li>
    <li><a [routerLink]="['/studentNaGodini', studentNaGodini.id, 'estudent', 'predmeti']">Moji predmeti</a></li>
    <li><a [routerLink]="['/studentNaGodini', studentNaGodini.id, 'estudent', 'podaci-o-studentu']">Podaci o studentu</a></li>
    <li><a [routerLink]="['/studentNaGodini', studentNaGodini.id, 'estudent', 'sv-obrazac']">SV obrazac</a></li>
    <li><a href="#">Kraj rada</a></li>
  </ul>
</nav>
