<nav class="sidebar">
  <ul>
    <li><a [routerLink]="['/osoblje', osoblje.id, 'esluzba', 'objave']">Objave</a></li>
    <li><a [routerLink]="['/osoblje', osoblje.id, 'esluzba', 'studenti']">studenti</a></li>
    <li><a [routerLink]="['/osoblje', osoblje.id, 'esluzba', 'studentiNaGodini']">studentiNaGodini</a></li>
    <li><a [routerLink]="['/osoblje', osoblje.id, 'esluzba', 'aktivnosti']">Aktivnosti</a></li>
    <li><a [routerLink]="['/osoblje', osoblje.id, 'esluzba', 'predmeti']">Moji predmeti</a></li>
    <li><a [routerLink]="['/osoblje', osoblje.id, 'esluzba', 'podaci-o-studentu']">Podaci o studentu</a></li>
    <li><a [routerLink]="['/osoblje', osoblje.id, 'esluzba', 'sv-obrazac']">SV obrazac</a></li>
      <li><a [routerLink]="['/osoblje', osoblje.id, 'esluzba', 'sv-obrazac']">SV asdasdasdasds</a></li>
    <li><a href="#">Kraj rada</a></li>
  </ul>
</nav>
