<nav class="sidebar">
  <ul>
    <li><a [routerLink]="['/osoblje', osoblje.id, 'esluzba', 'objave']">Objave</a></li>
    <li><a [routerLink]="['/studenti']">studenti</a></li>
    <li><a [routerLink]="['/student-na-godini']">studentiNaGodini</a></li>
    <li><a [routerLink]="['/Silabus']">Silabusi</a></li>
    <li><a [routerLink]="['/SilabusTermin']">Termini Silabusa</a></li>
    <li><a [routerLink]="['/sv-obrazac']">Sv obrasci</a></li>
    <li><a [routerLink]="['/predmeti']">Predmeti</a></li>
      <li><a [routerLink]="['/godine-studija']">Godine studija</a></li>
          <li><a [routerLink]="['/studijski-programi']">studijski programi</a></li>  
                <li><a [routerLink]="['/grupe-studenata']">grupe studenata</a></li>
                      <li><a [routerLink]="['/nastavnici']">nastavnici</a></li>
                            <li><a [routerLink]="['/biblioteke']">biblioteka</a></li>
                                  <li><a [routerLink]="['/inventari']">inventar</a></li>
                                        <li><a [routerLink]="['/knjige']">knjige</a></li>
                                               <li><a [routerLink]="['/katedre']">katedra</a></li>
                                            <li><a [routerLink]="['/departmani']">departmani</a></li>
                                              <li><a [routerLink]="['/fakulteti']">fakulteti</a></li>
                                              <li><a [routerLink]="['/glavno']">univerzitet</a></li>
                                              <li><a [routerLink]="['/ispitni-rokovi']">ispitni rok</a></li>
                                              <li><a [routerLink]="['/evaluacije-znanja']">evaluacije znanja</a></li>
                                            

    <li><a href="#">Kraj rada</a></li>
  </ul>
</nav>
