.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.role-kartice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.role-kartica {
  padding: 15px 25px;
  background-color: #b40000;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.role-kartica:hover {
  background-color: #b40000;
}
