<h2>Detalji o evaluaciji znanja</h2>

<p *ngIf="evaluacijaZnanja">
    {{ evaluacijaZnanja.kalendar.grupaStudenata }}
    {{ evaluacijaZnanja.nastavnik.ime && evaluacijaZnanja.nastavnik.prezime }}
    {{ evaluacijaZnanja.predmet.naziv }}
    {{ evaluacijaZnanja.tip_evaluacije.naziv }}
    {{ evaluacijaZnanja.vreme_pocetka }}
    {{ evaluacijaZnanja.vreme_zavrsetka }}

    <li *ngFor="let ishodEvaluacije of ishodiEvaluacije; index as i;">
        {{i}}/{{evaluacijaZnanja.ishodiEvaluacije?.length}}. {{ishodEvaluacije}}
    </li>

    {{ evaluacijaZnanja.vidljiv }}
</p>

<a routerLink="/evaluacije-znanja">← Nazad na listu svih evaluacija znanja</a>