<h2>Polozeni ispiti</h2>

@if (ocene.length === 0) {
  <p>Nema polozenih ispita za prikaz</p>
} @else {
  <table class="ispiti-tabela">
    <thead>
      <tr>
        <th>Naziv</th>
        <th>Tip</th>
        <th>Poeni</th>
        <th>Ocena</th>
        <th>ESPB</th>
        <th>Nastavnik</th>
      </tr>
    </thead>
    <tbody>
<tbody>
  @for ( o of ocene; track o.id) {
    <tr>

      <td> <strong>{{ o.naziv }}</strong></td>
      <td>{{ o.tip }}</td>
      <td>{{ o.bodovi }}</td>
      <td>{{ o.ocena }}</td>
      <td>{{ o.espb }}</td>
      <td>{{ o.nastavnik }}</td>
    </tr>
  }



</tbody>

<div>
<strong class="rezime">Prosecna Ocena: {{ prosecnaOcena }}</strong>
</div>
<strong class="rezime">Ukupno ESBP: {{ ukupnoEspb }}</strong>




  </table>
}
