<div *ngIf="evaluacijaZnanja">
  <p>
    <strong>Kalendar:</strong> {{ evaluacijaZnanja.kalendar?.id }} <br />
    <strong>Nastavnik:</strong> {{ evaluacijaZnanja.nastavnik?.ime }} {{ evaluacijaZnanja.nastavnik?.prezime }} <br />
    <strong>Predmet:</strong> {{ evaluacijaZnanja.predmet?.naziv }} <br />
    <strong>Tip evaluacije:</strong> {{ evaluacijaZnanja.tipEvaluacije?.naziv }} <br />
    <strong>Vreme početka:</strong> {{ evaluacijaZnanja.vremePocetka | date: 'yyyy-MM-dd HH:mm' }} <br />
    <strong>Vreme završetka:</strong> {{ evaluacijaZnanja.vremeZavrsetka | date: 'yyyy-MM-dd HH:mm' }} <br />

  </p>

  <div *ngIf="evaluacijaZnanja.ishodEvaluacije?.length as duzina">
    <h4>Ishodi evaluacije (ukupno: {{ duzina }}):</h4>
    <ul *ngIf="evaluacijaZnanja.ishodEvaluacije as ishodi">
      <li *ngFor="let ishod of ishodi; index as i">
        {{ i + 1 }} / {{ duzina }}: Ishod ID {{ ishod.id }}
      </li>
    </ul>
  </div>
</div>
