.container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.indeks-lista {
  list-style: none;
  padding: 0;
}

.indeks-lista li {
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}