<nav class="sidebar">
  <ul>
    <li><a [routerLink]="['/ishod-predmeta']">Ishodi predmeta</a></li>
    <li><a [routerLink]="['/studenti']">Studenti</a></li>
    <li><a [routerLink]="['/osoblje']">Osoblje</a></li>
    <li><a [routerLink]="['/tipovi-zvanja']">Tipovi zvanja</a></li>
    <li><a [routerLink]="['/tipovi-evaluacije']">Tipovi evaluacije</a></li>
    <li><a [routerLink]="['/glavno']">Univerziteti</a></li>
    <li><a [routerLink]="['/fakulteti']">Fakulteti</a></li>
    <li><a [routerLink]="['/katedre']">Katedre</a></li>
    <li><a [routerLink]="['/predmeti']">Predmeti</a></li>
    <li><a [routerLink]="['/obavestenja']">Obaveštenja</a></li>
    <li><a [routerLink]="['/korisnici']">Korisnici</a></li>
    <li><a [routerLink]="['/naucne-oblasti']">Naučne oblasti</a></li>
    <li><a [routerLink]="['/termini-nastave']">Termini nastave</a></li>
    <li><a [routerLink]="['/zvanja']">Zvanja</a></li>
    <li><a [routerLink]="['/realizacije-predmeta']">Realizacije predmeta</a></li>
    <li><a [routerLink]="['/ishodi-evaluacija']">Ishodi evaluacija</a></li>
    <li><a [routerLink]="['/evaluacije-znanja']">Evaluacije znanja</a></li>
    <li><a [routerLink]="['/nastavnici']">Nastavnici</a></li>
    <li><a [routerLink]="['/knjige']">Knjige</a></li>
    <li><a [routerLink]="['/objave']">Objave</a></li>
    <li><a [routerLink]="['/ispitni-rokovi']">Ispitni rokovi</a></li>
    <li><a [routerLink]="['/student-na-godini']">Studenti na godini</a></li>
    <li><a [routerLink]="['/studijski-programi']">Studijski programi</a></li>
    <li><a [routerLink]="['/tipovi-programa']">Tipovi programa</a></li>
    <li><a [routerLink]="['/studentske-sluzbe']">Studentske službe</a></li>
    <li><a [routerLink]="['/inventari']">Inventari</a></li>
    <li><a [routerLink]="['/godine-studija']">Godine studija</a></li>
    <li><a [routerLink]="['/kalendari']">Kalendari</a></li>
    <li><a [routerLink]="['/sv-obrazac']">ŠV obrazac</a></li>
    <li><a [routerLink]="['/biblioteke']">Biblioteke</a></li>
    <li><a [routerLink]="['/grupeStudenata']">Grupe studenata</a></li>
    <li><a [routerLink]="['/departmani']">Departmani</a></li>
    <li><a [routerLink]="['/Grad']">Gradovi</a></li>
    <li><a [routerLink]="['/adrese']">Adrese</a></li>
    <li><a [routerLink]="['/Drzava']">Države</a></li>
    <li><a [routerLink]="['/Silabus']">Silabusi</a></li>
    <li><a [routerLink]="['/SilabusTermin']">Silabus termini</a></li>
    <li><a href="#" (click)="logout($event)">Kraj rada</a></li>
  </ul>
</nav>