@if (predmet) {
  <div class="sve">


    <div class="predmet-detalji">
      <h1>{{ predmet.naziv }}</h1>
<hr>
      <div class="detalji-kartica">
        <p><strong>ESBP:</strong> {{ predmet.esbp }}</p>
        <p><strong>Obavezan:</strong> {{ predmet.obavezan ? 'Da' : 'Ne' }}</p>
        <p><strong>Broj predavanja:</strong> {{ predmet.brojPredavanja }}</p>
        <p><strong>Broj vežbi:</strong> {{ predmet.brojVezbi }}</p>
        <p><strong>Broj semestara:</strong> {{ predmet.brojSemestara }}</p>
        <p><strong>Istraživački rad:</strong> {{ predmet.istrazivackiRad ? 'Uključen' : 'Ne' }}</p>
        <p><strong>Opis:</strong> {{ predmet.opis }}</p>
        <p><strong>Cilj:</strong> {{ predmet.cilj }}</p>
      </div>

      @if (predmet.dokumentiPredmeta.silabus || predmet.dokumentiPredmeta.akreditacija) {
        <div class="dokumenta">
          <h3>Dokumenti</h3>
          @if (predmet.dokumentiPredmeta?.silabus) {
            <p>
              <a [routerLink]="['/predmet', predmet.id, 'silabus']">Prikaži silabus</a>
            </p>
          }
          @if (predmet.dokumentiPredmeta.akreditacija) {
            <p><a [href]="'/assets/pdf/' + predmet.dokumentiPredmeta.akreditacija" target="_blank">Akreditacija</a></p>
          }
        </div>
      }
    </div>


  </div>
}
